@import "widgets.scss"

$background: #333333;

/* Bar */
* {
    all: unset;
    font-family: "Noto Sans";
    font-size: 1.3rem;
}

.segment {
    background-color: $background;

    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 1.5rem;
    border-bottom-left-radius: 1.5rem;
    
    padding: 0 1rem 0 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.2rem;
}

.middle-weather {
    font-size: 2rem;
    margin: 0;
}


/* Background */
/*.back-widget {
    background-color: $background;
    padding: 2rem;
    border-radius: 2rem;
}*/

.back-power > .power-widget > label {
    background-color: $background;
    padding: 1rem;
    border-radius: 1rem;
}
.back-info > .info-long {
    background-color: $background;
    padding: 1rem;
    border-radius: 1rem;
}
