
$bg-color: #2E3440;
$fg-color: #D08770;
$brdr-clr: #D8DEE9;
$brdr-sz: 2px;
$brdr-rd: 12px;
$pd: 6px;
$font-sz: 16px;

* { 
    all: unset; 
    font-family: JetBrainsMono Nerd Font;
}


/* Main Widgets */
.top_left {
    font-size: $font-sz;
    background-color: $bg-color;
    color: $fg-color;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: $pd;
}

.top_middle {
    font-size: $font-sz;
    background-color: $bg-color;
    color: $fg-color;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: $pd;
}

.top_right {
    font-size: $font-sz;
    background-color: $bg-color;
    color: $fg-color;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: $pd;
}


/* Calendar */
.calendar-bar-main {
    background-color: $bg-color;
    color: $fg-color;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: $pd
}
.calendar-bar-calendar {
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: $pd;
}
.calendar-bar-time {
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: $pd;
    min-width: 200px;
}
.calendar-bar-hour {
    font-size: 20px;
}


/* Music */
.music-long {
    background-color: $bg-color;
    color: $fg-color;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: 20px;
}

.music-art {
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: $pd;
}
.music-long-title {
    font-size: 24px;
    font-weight: 900;
    color: #FFFFFF;
    background-color: #4c566a;
    border-image: linear-gradient(45deg, #ffffff, #adbad1) 20 / 4px;
    border-radius: 8px;
    padding: 10px;
}
.music-long-album {
    font-size: 14px;
    color: #d8dee9;
    border: 2px solid #7c90b6;
    border-radius: 5px;
    padding: 3px;
}
.music-long-artist {
    font-size: 19px;
    font-weight: 500;
    color: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 7px;
    padding: 6px;
}

.music-long-next {
    color: #FFFFFF;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
}
.music-long-play {
    color: #FFFFFF;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
}
.music-long-prev {
    color: #FFFFFF;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
}

/* volume and brightness */
.volume-bar {
    color: $brdr-clr;
}
.volume-bar trough {
    background-color: #4c566a;
    border-radius: 50px;
    min-height: 10px;
    min-width: 100px;
    margin: 0px 10px 0px 10px;
}
.volume-bar trough highlight {
    background-color: $brdr-clr;
    color: #000000;
    border-radius: 10px;
}


/* Sysinfo */
.full-info {
    background-color: $bg-color;
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: 20px;
}

.info-cpu-title {
    color: #a3be8c;
    font-size: 2em;
    border-bottom: 3px solid #a3be8c;
}
.info-cpu-graph {
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: 10px;
}
.info-cpu-process {
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: 10px;
}
.info-cpu-legend {
    border-bottom: $brdr-sz solid $brdr-clr;
}

.info-mem-title {
    color: #a3be8c;
    font-size: 2em;
    border-bottom: 3px solid #a3be8c;
}
.info-mem-graph {
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: 10px;
}
.info-mem-process {
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: 10px;
}
.info-mem-legend {
    border-bottom: $brdr-sz solid $brdr-clr;
}

.net-info-title {
    color: #a3be8c;
    font-size: 2em;
    border-bottom: 3px solid #a3be8c
}
.net-info-graph {
    border: $brdr-sz solid $brdr-clr;
    border-radius: $brdr-rd;
    padding: 10px;
}
