* { all: unset; }

.layout {
    font-family: JetBrainsMono Nerd Font;
    background-repeat: no-repeat;
    background-size: contain;
    padding: 0em;
    color: rgba(#33ccff, 1.0)
}

.time {
    font-size: 2.7em;
    color: rgba(#00ff99, 1.0)
}

.net {
    font-size: 1.3em
}
