$brdr-out: 40px;
$brdr-norm: 20px;
$brdr-in: 10px;
$brdr-sz: 2px;
$pd: 10px;


/* Nord Theme Colors */

/* Polar Night */
$Polar1: #2E3440;
$Polar2: #3B4252;
$Polar3: #434C5E;
$Polar4: #4C556A;

/* Snow Storm */
$Storm1: #D8DEE9;
$Storm2: #E5E9F0;
$Storm3: #ECEFF4;

/* Frost */
$Frost1: #8FBCBB;
$Frost2: #88C0D0;
$Frost3: #81A1C1;
$Frost4: #5E81AC;

/* Aurora */
$Aurora1: #BF616A;
$Aurora2: #D08770;
$Aurora3: #EBCB8B;
$Aurora4: #A3BE8C;
$Aurora5: #B48EAD;



* {
    all: unset;
    font-family: JetBrainsMono Nerd Font;
}


.profile {
    background-color: $Polar1;
    border-radius: $brdr-out $brdr-norm $brdr-norm $brdr-norm;
    padding: $pd;
    border-left: $brdr-sz solid $Storm1;
    border-top: $brdr-sz solid $Storm1;
    font-size: 2em;
    color: $Frost3;
}


.sysinfo {
    background-color: $Polar1;
    border-radius: $brdr-norm $brdr-norm $brdr-norm $brdr-out;
    padding: $pd;
    border-left: $brdr-sz solid $Storm1;
    border-bottom: $brdr-sz solid $Storm1;
}
.cpu {
    color: $Aurora3;
}
.mem {
    color: $Aurora4;
}
.disk {
    color: $Aurora5;
}
.cpu-title, .mem-title, .disk-title {
    font-size: 1.5em;
}


.time {
    background-color: $Polar1;
    border-radius: $brdr-norm $brdr-norm $brdr-in $brdr-in;
    padding: $pd;
    border-top: $brdr-sz solid $Storm1
}
.time-time {
    font-size: 2.5em;
    font-weight: bold;
    color: $Aurora2;
}
.time-hour {
    margin: 0px 0px 20px 10px;
}
.time-min {
    margin: 20px 20px 0px 0px;
}
.time-date {
    font-size: 1.5em;
    min-width: 125px;
    color: $Frost4;
}


.uptime {
    background-color: $Polar1;
    border-radius: $brdr-in $brdr-in $brdr-norm $brdr-norm;
    padding: $pd;
    font-size: 1.5em;
    color: $Aurora4;
}


.weather-widget {
    background-color: $Polar1;
    border-radius: $brdr-norm;
    padding: $pd;
    border-top: $brdr-sz solid $Storm1;
    min-width: 30.5em;
}
.weather-temp {
    font-size: 3em;
    color: $Aurora4;

    background-color: $Polar3;
    border-radius: $brdr-norm;
}
.weather-icon {
    font-size: 3em;
}
.weather-cond-text {
    font-size: 2em;
}
.weather-quote {
    font-size: 1.15em;
}
.weather-quote2 {
    font-size: 0.9em;
}


.syscontrols {
    background-color: $Polar1;
    border-radius: $brdr-norm $brdr-out $brdr-norm $brdr-norm;
    padding: $pd;
    border-right: $brdr-sz solid $Storm1;
    border-top: $brdr-sz solid $Storm1;
}
.brt-scale trough {
    background-color: $Polar4;
    border-radius: 50px;
    min-height: 125px;
    min-width: 20px;
    margin: 0px 10px 0px 10px;
}
.brt-scale trough highlight {
    background-color: $Storm2;
    color: #000000;
    border-radius: 10px;
}
.vol-scale trough {
    background-color: $Polar4;
    border-radius: 50px;
    min-height: 125px;
    min-width: 20px;
    margin: 0px 10px 0px 10px;
}
.vol-scale trough highlight {
    background-color: $Storm2;
    color: #000000;
    border-radius: 10px;
}


.music {
    background-color: $Polar1;
    border-radius: $brdr-norm;
    padding: $pd;
    min-width: 440px;
}
.music-art {
    border-radius: 10px;
    background-size: 150px;
    min-height: 150px;
    min-width: 150px;
}
.music-info, .music-controls {
    margin: 0px 2em 0px 0px;
}
.music-title {
    font-size: 1.5em;
    color: $Storm1;

    background-color: #4C566A;
    border-radius: 8em;
    padding: 0.5em;
}
.music-album {
    font-size: 0.75em;
    color: $Aurora5;
}
.music-artist {
    font-size: 1.2em;
    color: $Aurora3;
}


.folders {
    background-color: $Polar1;
    border-radius: $brdr-norm;
    padding: $pd;
}
.folder-Documents {
    color: $Aurora2;
    font-size: 1.4em;
    margin: 0em 0.5em 0em 0.5em
}
.folder-Downloads {
    color: $Aurora3;
    font-size: 1.4em;
    margin: 0em 0.5em 0em 0.5em
}
.folder-Pictures {
    color: $Frost3;
    font-size: 1.4em;
    margin: 0em 0.5em 0em 0.5em
}
.folder-config {
    color: $Frost2;
    font-size: 1.4em;
    margin: 0em 0.5em 0em 0.5em
}


.apps {
    background-color: $Polar1;
    border-radius: $brdr-norm;
    border-right: $brdr-sz solid $Storm1;
    padding: $pd;
}



.mail {
    background-color: $Polar1;
    border-radius: $brdr-norm;
    padding: $pd;
    border-bottom: $brdr-sz solid $Storm1
}
.mails {
    background-color: #AAAAAA;
    border-radius: 14px;
    font-size: 1.3em;
    color: $Storm1;
}
.git {
    background-color: $Polar1;
    border-radius: $brdr-norm;
    padding: $pd;
    border-bottom: $brdr-sz solid $Storm1
}
.reddit {
    background-color: #FF4500;
    border-radius: $brdr-norm;
    padding: $pd;
    border-bottom: $brdr-sz solid $Storm1
}
.yt {
    background-color: #FF0000;
    border-radius: $brdr-norm;
    padding: $pd;
    border-bottom: $brdr-sz solid $Storm1
}


.logout {
    background-color: $Polar1;
    border-radius: $brdr-norm $brdr-in $brdr-in $brdr-in;
    padding: $pd;
}
.sleep {
    background-color: $Polar1;
    border-radius: $brdr-in $brdr-norm $brdr-in $brdr-in;
    padding: $pd;
    border-right: $brdr-sz solid $Storm1
}
.restart {
    background-color: $Polar1;
    border-radius: $brdr-in $brdr-in $brdr-in $brdr-norm;
    padding: $pd;
    border-bottom: $brdr-sz solid $Storm1
}
.shutdown {
    background-color: $Polar1;
    border-radius: $brdr-in $brdr-in $brdr-out $brdr-in;
    padding: $pd;
    border-right: $brdr-sz solid $Storm1;
    border-bottom: $brdr-sz solid $Storm1;
}
